<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://static.javatpoint.com/top10-technologies/images/top-10-pc-games1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The Witcher 3: Wild Hunt</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://static.javatpoint.com/top10-technologies/images/top-10-pc-games2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Road 96</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://static.javatpoint.com/top10-technologies/images/top-10-pc-games3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Humankind</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://static.javatpoint.com/top10-technologies/images/top-10-pc-games4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Ghostrunner</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://static.javatpoint.com/top10-technologies/images/top-10-pc-games5.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Control</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://static.javatpoint.com/top10-technologies/images/top-10-pc-games6.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Twelve Minutes</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://static.javatpoint.com/top10-technologies/images/top-10-pc-games7.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">World of Warcraft: Shadowlands</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://static.javatpoint.com/top10-technologies/images/top-10-pc-games8.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Bayonetta</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://static.javatpoint.com/top10-technologies/images/top-10-pc-games10.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Hitman 3</h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" style="width: 18rem;">
                        <img src="https://static.javatpoint.com/top10-technologies/images/top-10-pc-games9.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Ninja Gaden </h5>
                          <p class="card-text"></p>
                          <a href="#" class="btn btn-primary">Buy Game</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
